@{
    ViewData["Title"] = "Доступ запрещён";
}

<h2>Доступ запрещён :(</h2>
<p>У вас нет прав для просмотра этой страницы. Если вам необходимо выполнить данное действие, обратитесь к администратору с просьбой выдачи прав доступа.</p>

<a asp-controller="Home" asp-action="Index">На главную</a>
