@{
    Layout = null;
}


@model LoginViewModel

<h2>Вход</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Пароль</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>
            <input asp-for="RememberMe" />
            Запомнить меня
        </label>
    </div>

    <button type="submit">Войти</button>

    <div asp-validation-summary="All"></div>
</form>
