@model ClothesWeb.Models.Product

@{
    ViewData["Title"] = "Редактирование товара";
}

<div>
    <h2 class="text-center">Редактирование карточки товара</h2>

    <form asp-action="EditCard" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="searchString" value="@ViewBag.SearchString" />

        <div class="mb-3">
            <label asp-for="Name">Название</label>
            <input asp-for="Name"  />
        </div>

        <div class="mb-3">
            <label asp-for="Price">Цена</label>
            <input asp-for="Price"/>
        </div>

        <div class="mb-3">
            <label asp-for="Color">Цвет</label>
            <input asp-for="Color"/>
        </div>

        <div>
            <label asp-for="Sizes">Размеры</label>
            <input asp-for="Sizes"/>
        </div>

        <div>
            <label asp-for="SupplierId">ID поставщика</label>
            <input asp-for="SupplierId"/>
        </div>

        <button type="submit"> Сохранить изменения</button>
        
       
        
        @if (!string.IsNullOrEmpty(ViewBag.SearchString))
        {
            <a asp-action="Catalog" asp-route-searchString="@ViewBag.SearchString"> Назад</a>
        }
        else
        {
            <a asp-action="Catalog">Назад</a>
        }
    </form>
</div>
