@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - Управление товарами</title>
    <link rel="stylesheet" href="~/css/StyleIndex.css" />
    
</head>
<body>
    <div class="container">
        <h1>Меню </h1>

            <p>Ваш Id: @ViewData["UserId"]</p>
            

        <ul class="menu-list">
            <li class="menu-item">
                <a href="/Purchase/SellProduct"> Новая покупка</a>
            </li>

            <li class="menu-item">
                <a href="/Return/ReturnProduct">Оформить возврат</a>
            </li>

            <li class="menu-item">
                <a class="nav-link" asp-controller="Home" asp-action="Catalog">Каталог</a>
            </li>

            <li class="menu-item">
                <a class="nav-link" asp-controller="Home" asp-action="SupplierCatalog">Каталог поставщиков</a>
            </li>

            <li class="menu-item">
                <a href="/Reports/Statistics">Смотреть статистику</a>
            </li>

            <li class="menu-item">
                <a href="/Inventory/WriteOff"> Списать товар</a>
            </li>
				@if (User.IsInRole("Admin"))
            {<li class="menu-item">
                
                
                <a asp-controller="Admin" asp-action="Manage"> Админ-панель</a>

					</li>
				}

        </ul>

    </div>
</body>
</html>